/*#region Fonts */
@font-face {
  font-family: 'AvenirNextLTW01-Regular';
  src: url('../fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2') format('woff2'),
    url('../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff') format('woff');
}

@font-face {
  font-family: 'AvenirNextLTW01-Medium';
  src: url('../fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2') format('woff2'),
    url('../fonts/f26faddb-86cc-4477-a253-1e1287684336.woff') format('woff');
}

@font-face {
  font-family: 'AvenirNextLTW01-Italic';
  src: url('../fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2') format('woff2'),
    url('../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff') format('woff');
}

@font-face {
  font-family: 'AvenirNextLTW01-Demi';
  src: url('../fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2') format('woff2'),
    url('../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff') format('woff');
}

@font-face {
  font-family: 'AvenirNextLTW01-DemiIta';
  src: url('../fonts/687932cb-145b-4690-a21d-ed1243db9e36.woff2') format('woff2'),
    url('../fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff') format('woff');
}
/*#endregion */
/*#region Globals & Variables */

/*
http://coop-design-manual.herokuapp.com/styles/colours.html
:root {
  --accent-color: #00b1e7;
  --header-bg: #4e4e4e;
  --header-color: white;
  --main-bg: #f3fbfe;
  --aside-bg: #f3fbfe;
  --item-bg: white;
  --a-color: 240, 240, 240;
  --item-empty-bg: rgba(255, 255, 255, 0.05);
  --item-hover-bg: rgba(255, 255, 255, 0.1);
  --shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
*/

:root {
  --accent-color: #ffc600;
  --header-bg: #193549;
  --header-color: white;
  --main-bg: #f3fbfe;
  --main-color: #282729;
  --aside-bg: #f3fbfe;
  --aside-color: #282729;
  --item-bg: #f3fbfe;
  --a-color: 240, 240, 240;
  --a-color-dark: 80, 80, 80;
  --item-empty-bg: rgba(255, 255, 255, 0.05);
  --item-hover-bg: rgba(255, 255, 255, 0.1);
  --shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
html {
  background-color: var(--main-bg);
  font-family: 'AvenirNextLTW01-Regular';
  font-size: 16px;
}

input[type='text'] {
  font-family: 'AvenirNextLTW01-Regular';
  font-size: 16px;
}

button {
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0.5rem;
  border: solid 0;
}

button.red {
  background-color: #fa113d;
}
button.green {
  background-color: #4cc355;
}

p.modalmessage {
  margin: 1rem 0;
}

/*#endregion */
/*#region App layout */

.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 50px minmax(100px, calc(100vh - 150px - 1.5rem));
  grid-template-areas: 'header main' 'filter main' 'aside main';
  grid-gap: 0.25rem;
  margin: 0.5rem;
}

/*#endregion */
/*#region Header */

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'logo title action';
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--header-bg);
  color: var(--header-color);
  grid-area: header;
  padding: 0.5rem 1rem;
  z-index: 1;
}

header.fullwidth {
  grid-column: 1/-1;
}

.headerleft {
  grid-area: logo;
  margin: 0 1rem;
  color: var(--accent-color);
}
.headercenter {
  grid-area: title;
}
.headerright {
  grid-area: action;
}
.headerright a {
  color: rgba(var(--a-color), 0.75);
}

.import,
.export,
a.close {
  align-self: center;
  justify-self: center;
}

a {
  padding-left: 0.5rem;
  color: rgba(var(--a-color), 0.75);
}

a.dark {
  color: rgba(var(--a-color-dark), 0.75);
}

a:hover {
  color: rgba(var(--a-color), 0.9);
}

a.dark:hover {
  color: rgba(var(--a-color-dark), 0.9);
}

/*#endregion */
/*#region Main */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: minmax(105px, auto) minmax(min-content, 1fr);
  grid-template-areas: 'left tabs right' 'quicksells quicksells quicksells';
  align-items: start;
  background-color: var(--header-bg);
  background: -webkit-linear-gradient(
    to bottom,
    var(--header-bg),
    #122736
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    var(--header-bg),
    #122736
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: var(--shadow);
}

main.dragover {
  outline: 6px dashed tomato;
}

main .export {
  grid-area: right;
  padding-right: 1rem;
}
.items {
  grid-area: quicksells;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
  overflow: hidden;
  min-height: 0;
  padding: 0.25rem 0.5rem;
}
.item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40%, 60%) minmax(auto, 40%);
  grid-template-areas: 'image' 'label';
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.25rem;
  overflow: hidden;
  min-width: 0;
}
.item.filled {
  background-color: var(--item-bg);
  cursor: move;
}
.item.empty {
  background-color: var(--item-empty-bg);
  color: rgba(var(--a-color), 0.2);
}
.item.noimage {
  grid-template-rows: 1fr;
  grid-template-areas: 'label';
}
.item.empty:hover {
  background-color: var(--item-hover-bg);
}
.item .itemimg {
  grid-area: image;
  pointer-events: none;
  height: 100%;
}
.item .itemimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item .itemlabel {
  grid-area: label;
  padding: 0.25rem;
  font-size: 0.8rem;
  pointer-events: none;
}
.item.dragover {
  outline: 4px dashed var(--accent-color);
}
/* #endregion */
/* #region Quicksell Tabs */
.qsnav {
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
  text-align: center;
}
.qsnav ul {
  margin: 1rem 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.qsnav .qstabs li {
  display: inline;
  font-size: 1.2rem;
  padding: 0.2em 0.5em 0.2em;
  color: rgba(var(--a-color), 0.75);
  border-bottom: 3px solid var(--header-bg);
}
.qsnav .qstabs li.is-active {
  border-bottom: 2px solid var(--accent-color);
  color: var(--header-color);
  font-family: 'AvenirNextLTW01-Medium';
}
.qsnav .qstabs li:hover {
  color: rgba(var(--a-color), 0.9);
}
/* #endregion */
/* #region Landing */
.landing {
  grid-row: 1/-1;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
  align-content: center;
  display: grid;
  grid-template-rows: 100px 250px;
  grid-template-areas: 'title' 'steps';
  color: var(--header-color);
  width: 100%;
  height: 100%;
  margin: 2rem;
  background-image: url('/images/landing.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.landingsteps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-self: center;
  height: 90%;
  max-width: 900px;
}
.landingicon {
  color: rgba(var(--a-color), 0.75);
}
/* if i want to add arrows... http://www.cssarrowplease.com/ */
/* #endregion */
/* #region Aside */
aside.left {
  grid-area: aside;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: var(--aside-bg);
}

aside.left:hover {
  overflow-y: auto;
}

#resetfilter {
  margin-left: 0.5rem;
}

#filterwrap {
  grid-area: filter;
  display: grid;
  align-items: center;
  width: 100%;
  background-color: var(--aside-bg);
  padding: 0 0.5rem 0 0;
}

#filterwrap > input {
  width: 100%;
  padding: 0.25rem;
  height: 2.5rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--aside-bg);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--a-color-dark), 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* #endregion */
/* #region List Items */
ul.listitems {
  width: 100%;
}
li.listitem {
  display: grid;
  grid-template-columns: 48px 1fr auto;
  grid-template-areas: 'image label action';
  grid-auto-rows: 2rem;
  grid-gap: 0.25rem;
  align-items: center;
  padding: 0.5rem 0;
}
li.listitem:hover {
  background-color: rgba(var(--a-color), 1);
}
li.listcategory {
  font-size: 1.2rem;
  font-family: 'AvenirNextLTW01-Medium';
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--aside-bg);
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
}
li.listcategory:not(:first-child) {
  margin-top: 1rem;
}
li.listitem > .itemimg {
  grid-area: image;
  pointer-events: none;
  height: 100%;
}
li.listitem > .itemimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
li.listitem > .listitemlabel {
  grid-area: label;
}
.listitemcode {
  font-size: 0.8rem;
  font-family: 'AvenirNextLTW01-Demi';
  color: #aaa;
}

li.listitem > .listitemaction {
  display: none;
  grid-area: action;
  justify-self: center;
  font-size: 1.5rem;
}

li.listitem:hover .listitemaction {
  display: block;
}

span.hidden {
  display: none;
}

/* #endregion */
/* #region Media queries */
@media (min-width: 769px) and (max-width: 1200px) {
  .items {
    grid-gap: 0.25rem;
  }
  .item .itemlabel {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 52px 1fr;
    grid-template-areas: 'header' 'main' 'filter' 'aside';
    margin: 0;
    grid-gap: 0px;
    max-height: calc(100vh + 100px);
  }
  main {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0px;
    z-index: 4;
  }
  main .export {
    padding: 1rem;
    align-self: start;
  }
  aside.left {
    overflow-y: auto;
  }
  .landing {
    grid-row: 1/-1;
    grid-template-rows: 75px 250px;
    min-height: calc(100vh - 82px);
    min-width: 75%;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 'title' 'steps';
    align-self: start;
  }
  .landing > p.title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    grid-area: title;
    align-self: end;
  }
  .landingsteps {
    grid-area: steps;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .landingstep {
    padding-top: 1rem;
  }
  li.listcategory {
    font-size: 1rem;
    top: 12px;
  }
  li.listcategory:not(:first-child) {
    margin-top: 0.5rem;
  }
  li.listitem .listitemaction {
    display: block;
  }
  #filterwrap {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 320px;
    z-index: 4;
    background-color: var(--aside-bg);
  }
  header {
    padding: 1rem 0.5rem;
  }
  .headercenter {
    grid-column: 1/-1;
    text-align: center;
  }
  .qsnav .qstabs li {
    font-size: 1rem;
  }
  .items {
    grid-gap: 0.25rem;
    padding: 0.5rem;
  }
  .item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'image';
    padding: 0;
  }
  .item.flipped {
    grid-template-areas: 'label';
  }
  .item .itemlabel {
    display: none;
  }
  .item.flipped .itemimg {
    display: none;
  }
  .item.flipped .itemlabel {
    display: grid;
    font-size: 0.5rem;
  }
  .item.noimage {
    grid-template-areas: 'label';
  }
  .item.noimage .itemlabel {
    display: grid;
    font-size: 0.5rem;
  }
  .item.empty:hover svg {
    visibility: hidden;
  }
  .item.dragover {
    outline: 2px dashed var(--accent-color);
  }
}
/* #endregion */
/* #region Temporary Bulma replacement */
.title {
  font-family: 'AvenirNextLTW01-Demi';
  line-height: 1.125;
}
.title.is-2 {
  font-size: 2.5rem;
}
.title.is-4 {
  font-size: 1.5rem;
}
.has-text-centered {
  text-align: center !important;
}
/* #endregion */
