/*#region Globals & Variables */

/*
http://coop-design-manual.herokuapp.com/styles/colours.html
:root {
  --accent-color: #00b1e7;
  --header-bg: #4e4e4e;
  --header-color: white;
  --main-bg: #f3fbfe;
  --aside-bg: #f3fbfe;
  --item-bg: white;
  --a-color: 240, 240, 240;
  --item-empty-bg: rgba(255, 255, 255, 0.05);
  --item-hover-bg: rgba(255, 255, 255, 0.1);
  --shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
*/

:root {
  --accent-color: #ffc600;
  --header-bg: #193549;
  --header-color: white;
  --main-bg: #f3fbfe;
  --aside-bg: #f3fbfe;
  --item-bg: white;
  --a-color: 240, 240, 240;
  --item-empty-bg: rgba(255, 255, 255, 0.05);
  --item-hover-bg: rgba(255, 255, 255, 0.1);
  --shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
html {
  background-color: var(--main-bg);
}

/*#endregion */

/*#region App layout */

.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 50px minmax(100px, calc(100vh - 150px - 1.5rem));
  grid-template-areas: 'header main' 'filter main' 'aside main';
  grid-gap: 0.25rem;
  margin: 0.5rem;
}

/*#endregion */

/*#region Header */

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'logo title import';
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--header-bg);
  color: var(--header-color);
  grid-area: header;
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow);
}
.headerleft {
  grid-area: logo;
  margin: 0 1rem;
  color: var(--accent-color);
}
.headercenter {
  grid-area: title;
}
.headerright {
  grid-area: import;
}
.headerright a {
  color: rgba(var(--a-color), 0.75);
}

/*#endregion */

/*#region Main */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: minmax(105px, auto) minmax(min-content, 1fr);
  grid-template-areas: 'left tabs right' 'quicksells quicksells quicksells';
  align-items: start;
  background-color: var(--header-bg);
  box-shadow: var(--shadow);
}
.items {
  grid-area: quicksells;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
  overflow: hidden;
  min-height: 0;
  padding: 0.25rem 0.5rem;
}
.item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40%, 60%) minmax(auto, 40%);
  grid-template-areas: 'image' 'label';
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.25rem;
  overflow: hidden;
  min-width: 0;
}
.item.filled {
  background-color: var(--item-bg);
  cursor: move;
}
.item.empty {
  background-color: var(--item-empty-bg);
  color: rgba(var(--a-color), 0.2);
}
.item.empty svg {
  visibility: hidden;
}
.item.noimage {
  grid-template-rows: 1fr;
  grid-template-areas: 'label';
}
.item.empty:hover {
  background-color: var(--item-hover-bg);
}
.item.empty:hover svg {
  visibility: visible;
}
.item .itemimg {
  grid-area: image;
  pointer-events: none;
  height: 100%;
}
.item .itemimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item .itemlabel {
  grid-area: label;
  padding: 0.25rem;
  font-size: 0.75rem;
  pointer-events: none;
}
.item.dragover {
  outline: 4px dashed var(--accent-color);
}

.import,
.export {
  align-self: center;
  justify-self: center;
}

.import {
  grid-area: left;
}

.export {
  grid-area: right;
}

a.import,
a.export {
  color: rgba(var(--a-color), 0.75);
}

a.import:hover,
a.export:hover {
  color: rgba(var(--a-color), 0.9);
}

.landing {
  grid-row: 1/-1;
  grid-column: 1/-1;
  align-self: start;
  justify-self: center;
  color: var(--header-color);
  width: 100%;
  padding-top: 5rem;
}

.landingsteps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  margin: 2rem;
}

/* http://www.cssarrowplease.com/ */
.arrow_box {
  position: relative;
  background: var(--header-bg);
  border: 4px solid var(--accent-color);
}
.arrow_box:after,
.arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(43, 17, 213, 0);
  border-left-color: var(--header-bg);
  border-width: 30px;
  margin-top: -30px;
}
.arrow_box:before {
  border-color: rgba(210, 245, 69, 0);
  border-left-color: var(--accent-color);
  border-width: 36px;
  margin-top: -36px;
}

/*#endregion */

/*#region Aside */

aside.left {
  grid-area: aside;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: var(--aside-bg);
}
#resetfilter {
  margin-left: 0.5rem;
}
.panel-block,
.panel-tabs {
  border: none;
}
.panel-heading:first-child,
.panel-tabs:first-child,
.panel-block:first-child {
  border: none;
}

/*#endregion */

/*#region Quicksell Tabs */

.qsnav {
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
  text-align: center;
}
.qsnav ul {
  margin: 1rem 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.qsnav .qstabs li {
  display: inline;
  font-size: 1.2rem;
  padding: 0.2em 0.5em 0.2em;
  color: rgba(var(--a-color), 0.75);
  border-bottom: 3px solid var(--header-bg);
}
.qsnav .qstabs li.is-active {
  border-bottom: 2px solid var(--accent-color);
  color: var(--header-color);
  font-weight: bold;
}
.qsnav .qstabs li:hover {
  color: rgba(var(--a-color), 0.9);
}
/*#endregion */

/*#region List Items */

ul.listitems {
  width: 100%;
}
li.listitem {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-areas: 'image label';
  grid-auto-rows: 48px;
  grid-gap: 0.25rem;
  align-items: center;
}
li.listitem > .listitemimg {
  grid-area: image;
  pointer-events: none;
  height: 100%;
}
.listitemimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
li.listitem > .listitemlabel {
  grid-area: label;
  font-weight: 600;
}
.listitemcode {
  font-size: 0.7rem;
  font-weight: 700;
  color: #aaa;
}

/*#endregion */

/*#region Media queries */

@media (min-width: 769px) and (max-width: 1200px) {
  .items {
    grid-gap: 0.25rem;
  }
  .item .itemlabel {
    font-size: 0.6rem;
  }
}
@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'filter' 'aside';
    margin: 0;
    grid-gap: 0;
  }
  main {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0px;
    z-index: 4;
    min-height: calc(100vh - 82px);
  }

  .landing {
    padding-top: 10vh;
    align-self: start;
  }

  #filterwrap {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 310px;
    z-index: 4;
    background-color: var(--aside-bg);
  }
  header {
    padding: 1.5rem 0.5rem;
  }
  .headercenter {
    margin-left: -3rem;
    text-align: center;
  }
  .qsnav .qstabs li {
    font-size: 1rem;
  }
  .items {
    grid-gap: 0.25rem;
    padding: 0.5rem;
  }
  .item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'image';
    padding: 0;
  }
  .item.flipped {
    grid-template-areas: 'label';
  }
  .item .itemlabel {
    display: none;
  }
  .item.flipped .itemimg {
    display: none;
  }
  .item.flipped .itemlabel {
    display: grid;
    font-size: 0.5rem;
  }
  .item.noimage {
    grid-template-areas: 'label';
  }
  .item.noimage .itemlabel {
    display: grid;
    font-size: 0.5rem;
  }
  .item.empty:hover svg {
    visibility: hidden;
  }
  .item.dragover {
    outline: 2px dashed var(--accent-color);
  }
}

/*#endregion */
